In [1]:
import pandas as pd
import numpy as np
import sqlalchemy as sa
import re, unidecode

In [2]:
user = '' # TODO: Add username here
passwd = '' # TODO: Add password here
db_ip = '' # TODO: Add database IP here
db_name = 'team_103'

engine = sa.create_engine(f'mysql://{user}:{passwd}@{db_ip}/{db_name}', echo=True)

In [3]:
def pascalCase(inp):
    # Remove all accesnts from the string
    inp = unidecode.unidecode(inp)
    
    # Check if the string is already in PascalCase
    if inp.isalpha():
        return inp.lower().replace('_', '').replace('-', '')
        # return ''.join(inp[0].upper() + inp[1:]).replace('_', '').replace('-', '')

    # Remove symbols from the string
    # inp = re.split(r'[^\w\s]', '', inp)

    # Split the string into words
    words = re.split(r'[^a-zA-Z0-9]', inp)
    # print(words)

    # Capitalize the first letter of each word
    words = [word.lower() for word in words]

    # Join the words together
    pascal_case = ''.join(words)

    return pascal_case.replace('_', '').replace('-', '')

# Some sanity checks
pascalCase('esports'), pascalCase('e-sports'), pascalCase('éthers'), pascalCase('salary_id')

('esports', 'esports', 'ethers', 'salaryid')

In [4]:
def open_df_from_csv(file, usecols, index_cols, dtype):
    df = pd.read_csv(
        file, 
        usecols=usecols, 
        dtype=dtype
    )
    # Format index columns to prevent duplicates.
    for idx_col in index_cols:
        if df[idx_col].dtype == str or df[idx_col].dtype == object:
            df[idx_col] = df[idx_col].apply(pascalCase)

    if len(index_cols) > 0:
        df = df.drop_duplicates(
            subset=index_cols, 
            keep='first',
            
        )
        
    df = df.rename(
        mapper=pascalCase, 
        axis=1
    )

    if len(index_cols) > 0:
        df = df.set_index(
            [pascalCase(x) for x in index_cols]
        )

    return df

def export_table(df, table_name, engine):
    df.to_sql(
        table_name, 
        con=engine, 
        if_exists='append', 
        index=True
    )

## Open, clean, and export each `.csv` file.

### Courses

In [5]:
courses_df = open_df_from_csv(
    'courses.csv',
    usecols=['CRN', 'Year', 'Term', 'Subject', 'Number', 'Name', 'Description', 'Credit Hours'],
    index_cols=['CRN'],
    dtype={'CRN': int, 'Year': int, 'Term': str, 'Subject': str, 'Number': int, 'Name': str, 'Description': str, 'Credit Hours': str}
)
print(len(courses_df), courses_df.columns)

export_table(courses_df, 'Courses', engine)

11277 Index(['year', 'term', 'subject', 'number', 'name', 'description',
       'credithours'],
      dtype='object')
2024-04-06 01:08:56,313 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-04-06 01:08:56,314 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-06 01:08:56,324 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-04-06 01:08:56,324 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-06 01:08:56,327 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-04-06 01:08:56,328 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-06 01:08:56,336 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-06 01:08:56,340 INFO sqlalchemy.engine.Engine DESCRIBE `team_103`.`Courses`
2024-04-06 01:08:56,341 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-06 01:08:56,400 INFO sqlalchemy.engine.Engine INSERT INTO `Courses` (crn, year, term, subject, number, name, description, credithours) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
2024-04-06 01:08:56,400 INFO sqlalchemy.engine.Engine [generated in 0.04313s] [(30107, 2024, 'Spring', 'AAS', 100, 'Intro Asian American Studies', 'Interdisciplinary introduction to the basic concepts and approaches in Asian American Studies. Surveys the various dimensions of Asian American experiences including history, social organization, literature, arts, and politics.', '3 hours.'), (41729, 2024, 'Spring', 'AAS', 100, 'Intro Asian American Studies', 'Interdisciplinary introduction to the basic concepts and approaches in Asian American Studies. Surveys the various dimensions of Asian American experiences including history, social organization, literature, arts, and politics.', '3 hours.'), (43832, 2024, 'Spring', 'AAS', 100, 'Intro Asian American Studies', 'Interdisciplinary introduction to the basic concepts and approaches in Asian American Studies. Surveys the various dimensions of Asian American experiences including history, social organization, literature, arts, and politics.', '3 hours.'), (48232, 2024, 'Spring', 'AAS', 100, 'Intro Asian American Studies', 'Interdisciplinary introduction to the basic concepts and approaches in Asian American Studies. Surveys the various dimensions of Asian American experiences including history, social organization, literature, arts, and politics.', '3 hours.'), (48234, 2024, 'Spring', 'AAS', 100, 'Intro Asian American Studies', 'Interdisciplinary introduction to the basic concepts and approaches in Asian American Studies. Surveys the various dimensions of Asian American experiences including history, social organization, literature, arts, and politics.', '3 hours.'), (50105, 2024, 'Spring', 'AAS', 100, 'Intro Asian American Studies', 'Interdisciplinary introduction to the basic concepts and approaches in Asian American Studies. Surveys the various dimensions of Asian American experiences including history, social organization, literature, arts, and politics.', '3 hours.'), (54572, 2024, 'Spring', 'AAS', 100, 'Intro Asian American Studies', 'Interdisciplinary introduction to the basic concepts and approaches in Asian American Studies. Surveys the various dimensions of Asian American experiences including history, social organization, literature, arts, and politics.', '3 hours.'), (51886, 2024, 'Spring', 'AAS', 100, 'Intro Asian American Studies', 'Interdisciplinary introduction to the basic concepts and approaches in Asian American Studies. Surveys the various dimensions of Asian American experiences including history, social organization, literature, arts, and politics.', '3 hours.')  ... displaying 10 of 11277 total bound parameter sets ...  (71770, 2024, 'Spring', 'YDSH', 102, 'Beginning Yiddish II', 'Continuation of YDSH 101 focusing on comprehension and reading skills. Prerequisite: YDSH 101.', '4 hours.'), (30928, 2024, 'Spring', 'ZULU', 202, 'Elementary Zulu II', 'Continuation of ZULU 201 with introduction of more advanced grammar; emphasis on more fluency in speaking, reading, and writing simple sentences in standard Zulu. Same as AFST 252. Participation in the language laboratory is required. Prerequisite: ZULU 201.', '5 hours.')]
2024-04-06 01:08:57,313 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `team_103`
2024-04-06 01:08:57,314 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-06 01:08:57,317 INFO sqlalchemy.engine.Engine COMMIT

### Companies

In [6]:
companies_df = open_df_from_csv(
    'job_postings/company_details/companies.csv',
    usecols=['company_id','name','description','company_size','state','country','city','zip_code','address','url'],
    index_cols=['company_id'],
    dtype={'company_id': str, 'name': str, 'description': str, 'company_size': float, 'state': str, 'country': str, 'city': str, 'zip_code': str, 'address': str, 'url': str}
)
print(len(companies_df), companies_df.columns)

export_table(companies_df, 'Companies', engine)

11361 Index(['name', 'description', 'companysize', 'state', 'country', 'city',
       'zipcode', 'address', 'url'],
      dtype='object')
2024-04-06 01:08:57,453 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-06 01:08:57,455 INFO sqlalchemy.engine.Engine DESCRIBE `team_103`.`Companies`
2024-04-06 01:08:57,456 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-06 01:08:57,496 INFO sqlalchemy.engine.Engine INSERT INTO `Companies` (companyid, name, description, companysize, state, country, city, zipcode, address, url) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2024-04-06 01:08:57,496 INFO sqlalchemy.engine.Engine [generated in 0.02479s] [('1009', 'IBM', 'At IBM, we do more than work. We create. We create as technologists, developers, and engineers. We create with our partners. We create with our compe ... (138 characters truncated) ... e want to work with you.\n\nWe\'re here to help every creator turn their "what if" into what is. Let\'s create something that will change everything.', 7.0, 'NY', 'US', 'Armonk, New York', '10504', 'International Business Machines Corp.', 'https://www.linkedin.com/company/ibm'), ('1016', 'GE HealthCare', 'Every day millions of people feel the impact of our intelligent devices, advanced analytics and artificial intelligence. As a leading global medical  ... (546 characters truncated) ... nd the world.\n\nWe embrace a culture of respect, transparency, integrity and diversity and we work to create a world where healthcare has no limits.', 7.0, '0', 'US', 'Chicago', '0', '-', 'https://www.linkedin.com/company/gehealthcare'), ('1021', 'GE Power', 'GE Power, part of GE Vernova, is a world energy leader that provides technology, solutions and services across the entire energy value chain from the point of generation to consumption. Powering more than a third of the world, it serves customers in more than 150 countries.', 7.0, 'NY', 'US', 'Schenectady', '12345', '1 River Road', 'https://www.linkedin.com/company/gepower'), ('1025', 'Hewlett Packard Enterprise', 'Official LinkedIn of Hewlett Packard Enterprise, the global edge-to-cloud company. Sharing our passion and purpose through technology and innovation. ', 7.0, 'Texas', 'US', 'Houston', '77389', '1701 E Mossy Oaks Rd Spring', 'https://www.linkedin.com/company/hewlett-packard-enterprise'), ('1028', 'Oracle', "We’re a cloud technology company that provides organizations around the world with computing infrastructure and software to help them innovate, unloc ... (1397 characters truncated) ... ttps://twitter.com/oracle \nLike our page on Facebook: https://www.facebook.com/Oracle/ \nFollow us on Instagram: https://www.instagram.com/oracle/\n", 7.0, 'Texas', 'US', 'Austin', '78741', '2300 Oracle Way', 'https://www.linkedin.com/company/oracle'), ('1033', 'Accenture', 'Accenture is a global professional services company with leading capabilities in digital, cloud, and security. Combining unmatched experience and spe ... (379 characters truncated) ... e power of change to create value and shared success for our clients, people, shareholders, partners, and communities. \n\nVisit us at accenture.com.', 7.0, '0', 'IE', 'Dublin 2', '0', 'Grand Canal Harbour', 'https://www.linkedin.com/company/accenture'), ('1038', 'Deloitte', 'Deloitte drives progress. Our firms around the world help clients become leaders wherever they choose to compete. Deloitte invests in outstanding peo ... (988 characters truncated) ... adviser. No entity in the Deloitte Network shall be responsible for any loss whatsoever sustained by any person who relies on content from this page.', 7.0, '0', 'OO', 'Worldwide', '0', 'Worldwide', 'https://www.linkedin.com/company/deloitte'), ('1043', 'Siemens', 'Siemens is a technology company focused on industry, infrastructure, transport, and healthcare. From more resource-efficient factories, resilient sup ... (806 characters truncated) ... e of €4.4 billion. As of September 30, 2022, the company had around 311,000 employees worldwide. Further information is available at www.siemens.com.', 7.0, '0', 'DE', 'Munich', '80333', 'Werner-von-Siemens-Straße 1', 'https://www.linkedin.com/company/siemens')  ... displaying 10 of 11361 total bound parameter sets ...  ('3700150295', 'The Crox Group', "The Crox Group, Head Quartered in Chicago, with its office in Noida, India. Our Infrastructure is fully supported, maintained and upgraded from time  ... (971 characters truncated) ... hich your unit, functions or\nthe organization operates\n\n- Is your organization trying to beat the competition and struggling to\npick up the pace.", 2.0, 'Illinois', 'US', 'Lincolnwood', '60712', '6818 N Lincoln Ave', 'https://www.linkedin.com/company/the-crox-group'), ('3700152513', 'Sidley Austin LLP', 'Sidley is an elite global law firm with nearly US$3 billion in revenue powered by lawyers who practice at the highest level of the profession. Backed ... (1002 characters truncated) ... otographs.\n\nBUILT TO WIN℠ and BUILT TO LEAD℠ are service marks of Sidley Austin Holding LLP. © 2023 Sidley Austin Holding LLP. All rights reserved.', 5.0, 'Illinois', 'US', 'Chicago', '60603', 'One South Dearborn', 'https://www.linkedin.com/company/sidley-austin')]
2024-04-06 01:08:59,517 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `team_103`
2024-04-06 01:08:59,517 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-06 01:08:59,523 INFO sqlalchemy.engine.Engine COMMIT

### CompanyIndustries

In [7]:
company_industries_df = open_df_from_csv(
    'job_postings/company_details/company_industries.csv',
    usecols=['company_id','industry'],
    index_cols=['company_id','industry'],
    dtype={'company_id': str, 'industry': str}
)
print(len(company_industries_df), company_industries_df.index.is_unique)
company_industries_df = company_industries_df[company_industries_df.index.get_level_values('companyid').isin(companies_df.index.get_level_values('companyid').unique())]
print(len(company_industries_df), company_industries_df.columns)

export_table(company_industries_df, 'CompanyIndustries', engine)

12601 True
12556 Index([], dtype='object')
2024-04-06 01:08:59,597 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-06 01:08:59,598 INFO sqlalchemy.engine.Engine DESCRIBE `team_103`.`CompanyIndustries`
2024-04-06 01:08:59,598 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-06 01:08:59,615 INFO sqlalchemy.engine.Engine INSERT INTO `CompanyIndustries` (companyid, industry) VALUES (%s, %s)
2024-04-06 01:08:59,615 INFO sqlalchemy.engine.Engine [generated in 0.00812s] [('91459053', 'internet'), ('69571610', 'cosmetics'), ('62424', 'realestate'), ('1387626', 'realestate'), ('2502541', 'informationtechnologyservices'), ('298409', 'staffingrecruiting'), ('37768', 'informationtechnologyservices'), ('7032083', 'informationtechnologyservices')  ... displaying 10 of 12556 total bound parameter sets ...  ('10135152', 'governmentadministration'), ('373873', 'itservicesanditconsulting')]
2024-04-06 01:08:59,852 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `team_103`
2024-04-06 01:08:59,853 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-06 01:08:59,858 INFO sqlalchemy.engine.Engine COMMIT

### CompanySpecialities

In [8]:
company_specialities_df = open_df_from_csv(
    'job_postings/company_details/company_specialities.csv',
    usecols=['company_id','speciality'],
    index_cols=['company_id','speciality'],
    dtype={'company_id': str,'speciality': str}
)
print(len(company_specialities_df), company_specialities_df.columns)
company_specialities_df = company_specialities_df[company_specialities_df.index.get_level_values('companyid').isin(companies_df.index.get_level_values('companyid').unique())]
company_specialities_df = company_specialities_df[company_specialities_df.index.get_level_values('speciality').str.len() <= 255]
print(len(company_specialities_df), company_specialities_df.columns)


export_table(company_specialities_df, 'CompanySpecialities', engine)

78268 Index([], dtype='object')
77930 Index([], dtype='object')
2024-04-06 01:09:00,069 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-06 01:09:00,073 INFO sqlalchemy.engine.Engine DESCRIBE `team_103`.`CompanySpecialities`
2024-04-06 01:09:00,073 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-06 01:09:00,218 INFO sqlalchemy.engine.Engine INSERT INTO `CompanySpecialities` (companyid, speciality) VALUES (%s, %s)
2024-04-06 01:09:00,219 INFO sqlalchemy.engine.Engine [generated in 0.11637s] [('91459053', 'onlineprofessionalnetwork'), ('91459053', 'jobs'), ('91459053', 'peoplesearch'), ('91459053', 'companysearch'), ('91459053', 'addressbook'), ('91459053', 'advertising'), ('91459053', 'professionalidentity'), ('91459053', 'recruiting')  ... displaying 10 of 77930 total bound parameter sets ...  ('2293632', 'outdoordigitalsignage'), ('373873', 'systemintegratorforerpsandntierwebbasedprojects')]
2024-04-06 01:09:01,407 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `team_103`
2024-04-06 01:09:01,407 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-06 01:09:01,413 INFO sqlalchemy.engine.Engine COMMIT

### EmployeeCounts

In [9]:
employee_counts_df = open_df_from_csv(
    'job_postings/company_details/employee_counts.csv',
    usecols=['company_id','employee_count','follower_count','time_recorded'],
    index_cols=['company_id'],
    dtype={'company_id': str,'employee_count': int,'follower_count': int,'time_recorded': float}
)
print(len(employee_counts_df), employee_counts_df.columns)
employee_counts_df = employee_counts_df[employee_counts_df.index.get_level_values('companyid').isin(companies_df.index.get_level_values('companyid').unique())]
print(len(employee_counts_df), employee_counts_df.columns)

export_table(employee_counts_df, 'EmployeeCounts', engine)

11323 Index(['employeecount', 'followercount', 'timerecorded'], dtype='object')
11278 Index(['employeecount', 'followercount', 'timerecorded'], dtype='object')
2024-04-06 01:09:01,449 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-06 01:09:01,450 INFO sqlalchemy.engine.Engine DESCRIBE `team_103`.`EmployeeCounts`
2024-04-06 01:09:01,450 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-06 01:09:01,467 INFO sqlalchemy.engine.Engine INSERT INTO `EmployeeCounts` (companyid, employeecount, followercount, timerecorded) VALUES (%s, %s, %s, %s)
2024-04-06 01:09:01,467 INFO sqlalchemy.engine.Engine [generated in 0.01031s] [('91459053', 2, 24, 1692644648.8276289), ('69571610', 3717, 158109, 1692644650.6863291), ('62424', 899, 10311, 1692644651.0513952), ('1387626', 1676, 39770, 1692644651.449499), ('2502541', 29, 8058, 1692644653.155199), ('298409', 395, 146046, 1692644653.5256968), ('37768', 2025, 231325, 1692644653.940611), ('7032083', 119, 40756, 1692644654.387137)  ... displaying 10 of 11278 total bound parameter sets ...  ('10135152', 6322, 31953, 1699139828.0), ('373873', 45, 30298, 1699139828.0)]
2024-04-06 01:09:01,741 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `team_103`
2024-04-06 01:09:01,742 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-06 01:09:01,751 INFO sqlalchemy.engine.Engine COMMIT

### JobPostings

In [10]:
job_postings_df = open_df_from_csv(
    "job_postings/job_postings.csv",
    usecols=[
        "job_id",
        "company_id",
        "title",
        "description",
        "formatted_work_type",
        "location",
        "applies",
        "original_listed_time",
        "remote_allowed",
        "views",
        "job_posting_url",
        "application_url",
        "application_type",
        "expiry",
        "closed_time",
        "formatted_experience_level",
        "skills_desc",
        "listed_time",
        "posting_domain",
        "sponsored",
        "work_type",
        "scraped",
    ],
    index_cols=["job_id"],
    dtype={"job_id": str,
        "company_id": str,
        "title": str,
        "description": str,
        "formatted_work_type": str,
        "location": str,
        "applies": float,
        "original_listed_time": float,
        "remote_allowed": 'Int64',
        "views": float,
        "job_posting_url": str,
        "application_url": str,
        "application_type": str,
        "closed_time": float,
        "formatted_experience_level": str,
        "skills_desc": str,
        "listed_time": float,
        "posting_domain": str,
        "sponsored": 'Int64',
        "work_type": str,
        "scraped": 'Int64',
    },
)
print(len(job_postings_df), job_postings_df.columns)
job_postings_df = job_postings_df[job_postings_df['companyid'].isin(companies_df.index.get_level_values('companyid').unique())]
print(len(job_postings_df), job_postings_df.columns)

export_table(job_postings_df, "JobPostings", engine)

33246 Index(['companyid', 'title', 'description', 'formattedworktype', 'location',
       'applies', 'originallistedtime', 'remoteallowed', 'views',
       'jobpostingurl', 'applicationurl', 'applicationtype', 'expiry',
       'closedtime', 'formattedexperiencelevel', 'skillsdesc', 'listedtime',
       'postingdomain', 'sponsored', 'worktype', 'scraped'],
      dtype='object')
32545 Index(['companyid', 'title', 'description', 'formattedworktype', 'location',
       'applies', 'originallistedtime', 'remoteallowed', 'views',
       'jobpostingurl', 'applicationurl', 'applicationtype', 'expiry',
       'closedtime', 'formattedexperiencelevel', 'skillsdesc', 'listedtime',
       'postingdomain', 'sponsored', 'worktype', 'scraped'],
      dtype='object')
2024-04-06 01:09:02,587 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-06 01:09:02,592 INFO sqlalchemy.engine.Engine DESCRIBE `team_103`.`JobPostings`
2024-04-06 01:09:02,593 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-06 01:09:02,798 INFO sqlalchemy.engine.Engine INSERT INTO `JobPostings` (jobid, companyid, title, description, formattedworktype, location, applies, originallistedtime, remoteallowed, views, jobpostingurl, applicationurl, applicationtype, expiry, closedtime, formattedexperiencelevel, skillsdesc, listedtime, postingdomain, sponsored, worktype, scraped) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2024-04-06 01:09:02,799 INFO sqlalchemy.engine.Engine [generated in 0.13965s] [('3757940104', '553718', 'Hearing Care Provider', 'Overview\n\nHearingLife is a national hearing care company and part of the Demant Group, a global leader in hearing healthcare built on a heritage of ... (4994 characters truncated) ... n\nwithout regard to race, color, religion, sexual orientation, sex, national origin, disability, or protected veteran status.\n\n#HearingLife_US\n\n', 'Full-time', 'Little River, SC', None, 1699090000000.0, None, 9.0, 'https://www.linkedin.com/jobs/view/3757940104/?trk=jobs_biz_prem_srch', 'https://careers-demant.icims.com/jobs/19601/hearing-care-provider/job', 'OffsiteApply', 1701680000000.0, None, 'Entry level', None, 1699090000000.0, 'careers-demant.icims.com', 0, 'FULL_TIME', 1699138101), ('3757940025', '2192142', 'Shipping & Receiving Associate 2nd shift (Beaver Dam)', 'Metalcraft of Mayville\nMetalcraft of Mayville is an Equal Opportunity Employer:Minorities/females/veterans/individuals with disabilities/sexual orie ... (2059 characters truncated) ... d ability to multi-task.Strong basic math skills.Previous forklift experience.Exposure to a fast paced Lean manufacturing environment\n \nPI232449725', 'Full-time', 'Beaver Dam, WI', None, 1699080000000.0, None, None, 'https://www.linkedin.com/jobs/view/3757940025/?trk=jobs_biz_prem_srch', 'https://www.click2apply.net/mXLQz5S5NEYEXsKjwHRdYq', 'OffsiteApply', 1701680000000.0, None, None, None, 1699080000000.0, 'www.click2apply.net', 0, 'FULL_TIME', 1699085420), ('3757938019', '474443', 'Manager, Engineering', "\nThe TSUBAKI name is synonymous with excellence in quality, dependability, and customer service. U.S. Tsubaki is a leading manufacturer and supplier ... (3620 characters truncated) ... tions. Perform field checks as required. Follow build status of engineered projects internally and externally. Other tasks or projects as assigned.\n", 'Full-time', 'Bessemer, AL', None, 1699080000000.0, None, None, 'https://www.linkedin.com/jobs/view/3757938019/?trk=jobs_biz_prem_srch', 'https://www.click2apply.net/LwbOykH2yAJdahB5Ah5Gzp', 'OffsiteApply', 1701680000000.0, None, None, "Bachelor's Degree in Mechanical Engineering preferred or equivalent work experience.10 years working in an Industrial Equipment Construction Environm ... (1554 characters truncated) ... o attend bid meetings and review job sites.\n\nTsubaki is an Equal Opportunity Employer - Minorities/Females/Veterans/Disability\n\nPM21\nPI232449413", 1699080000000.0, 'www.click2apply.net', 0, 'FULL_TIME', 1699085644), ('3757938018', '18213359', 'Cook', "descriptionTitle\n\n Looking for a great opportunity to develop your professional skills while giving back to the community? Work with us as a Cook h ... (2680 characters truncated) ... This Video Now:   https://youtu.be/876uP3JcChw \n\n Want to see what it's like to work here? \n\n Watch This Video Now:  https://youtu.be/876uP3JcChw", 'Full-time', 'Aliso Viejo, CA', None, 1699080000000.0, None, 1.0, 'https://www.linkedin.com/jobs/view/3757938018/?trk=jobs_biz_prem_srch', 'https://jobs.apploi.com/view/854782?utm_campaign=jobs_snippet&utm_source=episcopalcommunities-career-page&utm_medium=client-web-site&utm_term=josh-reiss&_=1699084136.7855182', 'OffsiteApply', 1701680000000.0, None, 'Entry level', None, 1699080000000.0, 'jobs.apploi.com', 0, 'FULL_TIME', 1699087461), ('3757937095', '437225', 'Principal Cloud Security Architect (Remote)', 'Job Summary\nAt iHerb, we are on a mission to make health and wellness accessible to everyone globally through our\n\nproducts and platforms. The Inf ... (7510 characters truncated) ... ty or veteran status. iHerb provides equal employment opportunities to all applicants for employment and prohibits discrimination and harassment.\n\n', 'Full-time', 'United States', None, 1698970000000.0, 1, None, 'https://www.linkedin.com/jobs/view/3757937095/?trk=jobs_biz_prem_srch', 'https://careers.iherb.com/global/en/job/IHINGLOBAL5796275003EXTERNALENGLOBAL/Principal-Cloud-Security-Architect-Remote?utm_source=linkedin&utm_medium=phenom-feeds', 'OffsiteApply', 1701680000000.0, None, 'Mid-Senior level', None, 1699090000000.0, 'careers.iherb.com', 0, 'FULL_TIME', 1699085346), ('3757937037', '13727', 'Territory Manager - New Haven', "Location: Remote, CT, United States of America\n\nCardiac Management Solutions\n\nAt ZOLL, we're passionate about improving patient outcomes and help ... (5597 characters truncated) ... rit. Join us in our efforts to improve outcomes for underserved patients suffering from critical cardiopulmonary conditions and help save more lives.", 'Full-time', 'United States', None, 1698720000000.0, 1, 16.0, 'https://www.linkedin.com/jobs/view/3757937037/?trk=jobs_biz_prem_srch', 'https://www.zoll.com/contact/careers-at-zoll/careers-search?rid=5588', 'OffsiteApply', 1701680000000.0, 1700000000000.0, 'Mid-Senior level', None, 1699080000000.0, 'www.zoll.com', 0, 'FULL_TIME', 1699137801), ('3757937004', '10515052', 'Auto Body Techncian', 'Company: Gerber Collision & Glass\n\nWELCOME TO GERBER COLLISION & GLASS\n\nOur Team Members Drive Us! Gerber Collision & Glass is one of the largest ... (3117 characters truncated) ... Glass has been WOWing customers with our collision repair services for over 80 years. Please visit gerbercareers.com to learn more about our company.', 'Full-time', 'Daytona Beach, FL', None, 1699080000000.0, None, 1.0, 'https://www.linkedin.com/jobs/view/3757937004/?trk=jobs_biz_prem_srch', 'https://boydgroup.wd1.myworkdayjobs.com/boydcareers/job/Daytona-Beach-Florida/Auto-Body-Techncian_R032745?source=LinkedIn', 'OffsiteApply', 1701680000000.0, None, 'Entry level', None, 1699080000000.0, 'boydgroup.wd1.myworkdayjobs.com', 0, 'FULL_TIME', 1699089473), ('3757936167', '2915', 'ACME D8- Asst Store Director (ASD) Sussex, NJ', 'The First Assistant Store Director is actively involved in and provides friendly, courteous, and helpful customer service daily. The First Assistant  ... (2697 characters truncated) ... with legal requirements and company policies and procedures, including check cashing, security, safety, sanitation, wage and hour, etc.\n\nFocus on c', 'Full-time', 'Sussex, NJ', None, 1696920000000.0, None, 2.0, 'https://www.linkedin.com/jobs/view/3757936167/?trk=jobs_biz_prem_srch', 'https://eofd.fa.us6.oraclecloud.com/hcmUI/CandidateExperience/en/sites/CX/job/381452/?utm_source=linkedin&utm_medium=jobboard', 'OffsiteApply', 1701680000000.0, None, 'Mid-Senior level', None, 1699090000000.0, 'eofd.fa.us6.oraclecloud.com', 0, 'FULL_TIME', 1699138852)  ... displaying 10 of 32545 total bound parameter sets ...  ('102339515', '52132271', 'Franchise Owner', 'DuctVentz is a dryer and A/C – heat vent clean out business that can be opened and operated by one or more persons, and remotely.\n\nMeet the hiring  ... (1316 characters truncated) ... bove qualifications and requirements, we invite you to attend an introductory Zoom or phone call.\nWe look forward to starting this journey with you!', 'Full-time', 'Greater Boston', None, 1699050000000.0, None, None, 'https://www.linkedin.com/jobs/view/102339515/?trk=jobs_biz_prem_srch', None, 'SimpleOnsiteApply', 1701640000000.0, None, None, None, 1699050000000.0, None, 0, 'FULL_TIME', 1699063495), ('3958427', '630152', 'Stylist/ Clorist', 'Karen Marie is looking for an awesome experienced stylist! Are you looking for a relaxed yet proffesional environment to bring current clients and bu ... (147 characters truncated) ... state of Illinois. A stylist with a background in color, extensions, make up artist and cutting would be great but we are open to specialits as well!', 'Full-time', 'Chicago, IL', None, 1699050000000.0, None, 7.0, 'https://www.linkedin.com/jobs/view/3958427/?trk=jobs_biz_prem_srch', None, 'ComplexOnsiteApply', 1714600000000.0, None, None, 'Must be a seasoned stylist with an existing book. Trained make up artist. Colorist. Stylist. Extensions Artist. Wedding Stylists. Editorial Stylists. Advanced training.', 1699050000000.0, None, 0, 'FULL_TIME', 1699057868)]
2024-04-06 01:09:24,725 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `team_103`
2024-04-06 01:09:24,725 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-06 01:09:24,730 INFO sqlalchemy.engine.Engine COMMIT

### Benefits

In [11]:
benefits_df = open_df_from_csv(
    'job_postings/job_details/benefits.csv',
    usecols=['job_id','inferred','type',],
    index_cols=['job_id','type',],
    dtype={'job_id': str,'inferred': int,'type': str,}
)
print(len(benefits_df), benefits_df.columns)
benefits_df = benefits_df[benefits_df.index.get_level_values('jobid').isin(job_postings_df.index.get_level_values('jobid').unique())]
print(len(benefits_df), benefits_df.columns)

export_table(benefits_df, 'Benefits', engine)

29325 Index(['inferred'], dtype='object')
28621 Index(['inferred'], dtype='object')
2024-04-06 01:09:25,131 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-06 01:09:25,132 INFO sqlalchemy.engine.Engine DESCRIBE `team_103`.`Benefits`
2024-04-06 01:09:25,132 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-06 01:09:25,197 INFO sqlalchemy.engine.Engine INSERT INTO `Benefits` (jobid, type, inferred) VALUES (%s, %s, %s)
2024-04-06 01:09:25,197 INFO sqlalchemy.engine.Engine [generated in 0.05232s] [('3691799471', '401k', 1), ('3691799471', 'medicalinsurance', 1), ('3691799471', 'disabilityinsurance', 1), ('3692301169', 'medicalinsurance', 0), ('3692301169', 'visioninsurance', 0), ('3692301169', 'dentalinsurance', 0), ('3692303024', 'medicalinsurance', 0), ('3692303024', 'visioninsurance', 0)  ... displaying 10 of 28621 total bound parameter sets ...  ('3757934256', 'disabilityinsurance', 0), ('3757498232', 'medicalinsurance', 1)]
2024-04-06 01:09:25,988 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `team_103`
2024-04-06 01:09:25,990 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-06 01:09:25,997 INFO sqlalchemy.engine.Engine COMMIT

### Salaries

In [12]:
salaries_df = open_df_from_csv(
    'job_postings/job_details/salaries.csv',
    usecols=['salary_id','job_id','max_salary','med_salary','min_salary','pay_period','currency','compensation_type',],
    index_cols=['salary_id'],
    dtype={'salary_id': str,'job_id': str,'max_salary': float,'med_salary': float,'min_salary': float,'pay_period':str,'currency': str,'compensation_type': str,}
)
print(len(salaries_df), salaries_df.columns)
salaries_df = salaries_df[salaries_df['jobid'].isin(job_postings_df.index.get_level_values('jobid').unique())]
print(len(salaries_df), salaries_df.columns)

export_table(salaries_df, 'Salaries', engine)

13352 Index(['jobid', 'maxsalary', 'medsalary', 'minsalary', 'payperiod', 'currency',
       'compensationtype'],
      dtype='object')
13116 Index(['jobid', 'maxsalary', 'medsalary', 'minsalary', 'payperiod', 'currency',
       'compensationtype'],
      dtype='object')
2024-04-06 01:09:26,044 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-06 01:09:26,045 INFO sqlalchemy.engine.Engine DESCRIBE `team_103`.`Salaries`
2024-04-06 01:09:26,046 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-06 01:09:26,079 INFO sqlalchemy.engine.Engine INSERT INTO `Salaries` (salaryid, jobid, maxsalary, medsalary, minsalary, payperiod, currency, compensationtype) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
2024-04-06 01:09:26,079 INFO sqlalchemy.engine.Engine [generated in 0.02079s] [('10', '3691799471', 135300.0, None, 98400.0, 'YEARLY', 'USD', 'BASE_SALARY'), ('11', '3691799474', 18.0, None, 16.0, 'HOURLY', 'USD', 'BASE_SALARY'), ('13', '3692301162', 73.0, None, 65.0, 'HOURLY', 'USD', 'BASE_SALARY'), ('14', '3692301169', 63000.0, None, 60000.0, 'YEARLY', 'USD', 'BASE_SALARY'), ('15', '3692301171', 48000.0, None, 35000.0, 'YEARLY', 'USD', 'BASE_SALARY'), ('16', '3692302089', 80.0, None, 70.0, 'HOURLY', 'USD', 'BASE_SALARY'), ('17', '3696362362', 68000.0, None, 61000.0, 'YEARLY', 'USD', 'BASE_SALARY'), ('19', '3696388859', 255525.0, None, 185700.0, 'YEARLY', 'USD', 'BASE_SALARY')  ... displaying 10 of 13116 total bound parameter sets ...  ('13738', '3757485745', None, 48.0, None, 'HOURLY', 'USD', 'BASE_SALARY'), ('13740', '3757486249', 115000.0, None, 100000.0, 'YEARLY', 'USD', 'BASE_SALARY')]
2024-04-06 01:09:26,852 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `team_103`
2024-04-06 01:09:26,853 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-06 01:09:26,856 INFO sqlalchemy.engine.Engine COMMIT

### Skills

In [13]:
skills_df = open_df_from_csv(
    'job_postings/maps/skills.csv',
    usecols=['skill_id','skill_name'],
    index_cols=['skill_id','skill_name'],
    dtype={'skill_id': str,'skill_name': str}
)
print(len(skills_df), skills_df.columns)

export_table(skills_df, 'Skills', engine)

35 Index([], dtype='object')
2024-04-06 01:09:26,880 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-06 01:09:26,881 INFO sqlalchemy.engine.Engine DESCRIBE `team_103`.`Skills`
2024-04-06 01:09:26,882 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-06 01:09:26,888 INFO sqlalchemy.engine.Engine INSERT INTO `Skills` (skillid, skillname) VALUES (%s, %s)
2024-04-06 01:09:26,889 INFO sqlalchemy.engine.Engine [generated in 0.00036s] [('prch', 'purchasing'), ('supl', 'supplychain'), ('pr', 'publicrelations'), ('sci', 'science'), ('stra', 'strategyplanning'), ('wrt', 'writingediting'), ('qa', 'qualityassurance'), ('dist', 'distribution')  ... displaying 10 of 35 total bound parameter sets ...  ('it', 'informationtechnology'), ('adm', 'administrative')]
2024-04-06 01:09:26,892 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `team_103`
2024-04-06 01:09:26,892 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-06 01:09:26,896 INFO sqlalchemy.engine.Engine COMMIT

### Industries

In [14]:
industries_df = open_df_from_csv(
    'job_postings/maps/industries.csv',
    usecols=['industry_id','industry_name'],
    index_cols=['industry_id','industry_name'],
    dtype={'industry_id': int,'industry_name': str}
)
print(len(industries_df), industries_df.columns)

export_table(industries_df, 'Industries', engine)

212 Index([], dtype='object')
2024-04-06 01:09:26,911 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-06 01:09:26,912 INFO sqlalchemy.engine.Engine DESCRIBE `team_103`.`Industries`
2024-04-06 01:09:26,912 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-06 01:09:26,917 INFO sqlalchemy.engine.Engine INSERT INTO `Industries` (industryid, industryname) VALUES (%s, %s)
2024-04-06 01:09:26,917 INFO sqlalchemy.engine.Engine [generated in 0.00035s] [(1, 'defenseandspacemanufacturing'), (3, 'computerhardwaremanufacturing'), (4, 'softwaredevelopment'), (5, 'computernetworkingproducts'), (6, 'technologyinformationandinternet'), (7, 'semiconductormanufacturing'), (8, 'telecommunications'), (9, 'lawpractice')  ... displaying 10 of 212 total bound parameter sets ...  (3243, 'servicesforrenewableenergy'), (3251, 'climatetechnologyproductmanufacturing')]
2024-04-06 01:09:26,921 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `team_103`
2024-04-06 01:09:26,921 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-06 01:09:26,923 INFO sqlalchemy.engine.Engine COMMIT

### JobSkills

In [15]:
job_skills_df = open_df_from_csv(
    'job_postings/job_details/job_skills.csv',
    usecols=['job_id','skill_id'],
    index_cols=['job_id','skill_id'],
    dtype={'job_id': str,'skill_id': str}
)
print(len(job_skills_df), job_skills_df.index.names)
job_skills_df = job_skills_df[job_skills_df.index.get_level_values('jobid').isin(job_postings_df.index.get_level_values('jobid').unique())]
print(len(job_skills_df), job_skills_df.columns)
job_skills_df = job_skills_df[job_skills_df.index.get_level_values('skillid').isin(skills_df.index.get_level_values('skillid').unique())]
print(len(job_skills_df), job_skills_df.columns)

export_table(job_skills_df, 'JobSkills', engine)

56591 ['jobid', 'skillid']
54760 Index([], dtype='object')
54760 Index([], dtype='object')
2024-04-06 01:09:27,045 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-06 01:09:27,047 INFO sqlalchemy.engine.Engine DESCRIBE `team_103`.`JobSkills`
2024-04-06 01:09:27,047 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-06 01:09:27,159 INFO sqlalchemy.engine.Engine INSERT INTO `JobSkills` (jobid, skillid) VALUES (%s, %s)
2024-04-06 01:09:27,159 INFO sqlalchemy.engine.Engine [generated in 0.09615s] [('3691797924', 'eng'), ('3691797924', 'it'), ('3691799471', 'othr'), ('3691799471', 'rsch'), ('3691799474', 'mgmt'), ('3691799474', 'genb'), ('3691799474', 'adm'), ('3692300361', 'mrkt')  ... displaying 10 of 54760 total bound parameter sets ...  ('3757934256', 'it'), ('3757498232', 'adm')]
2024-04-06 01:09:28,640 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `team_103`
2024-04-06 01:09:28,641 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-06 01:09:28,645 INFO sqlalchemy.engine.Engine COMMIT

### JobIndustries

In [16]:
job_industries_df = open_df_from_csv(
    'job_postings/job_details/job_industries.csv',
    usecols=['job_id','industry_id'],
    index_cols=['job_id','industry_id'],
    dtype={'job_id': str,'industry_id': int}
)
print(len(job_industries_df), job_industries_df.columns)
job_industries_df = job_industries_df[job_industries_df.index.get_level_values('jobid').isin(job_postings_df.index.get_level_values('jobid').unique())]
print(len(job_industries_df), job_industries_df.columns)
job_industries_df = job_industries_df[job_industries_df.index.get_level_values('industryid').isin(industries_df.index.get_level_values('industryid').unique())]
print(len(job_industries_df), job_industries_df.columns)

export_table(job_industries_df, 'JobIndustries', engine)

44091 Index([], dtype='object')
42769 Index([], dtype='object')
42732 Index([], dtype='object')
2024-04-06 01:09:28,727 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-06 01:09:28,729 INFO sqlalchemy.engine.Engine DESCRIBE `team_103`.`JobIndustries`
2024-04-06 01:09:28,729 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-06 01:09:28,770 INFO sqlalchemy.engine.Engine INSERT INTO `JobIndustries` (jobid, industryid) VALUES (%s, %s)
2024-04-06 01:09:28,771 INFO sqlalchemy.engine.Engine [generated in 0.02774s] [('3691797924', 6), ('3691799471', 25), ('3691799471', 18), ('3691799474', 44), ('3692300361', 44), ('3692301162', 96), ('3692301162', 14), ('3692301162', 4)  ... displaying 10 of 42732 total bound parameter sets ...  ('3757934256', 80), ('3757498232', 14)]
2024-04-06 01:09:29,807 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `team_103`
2024-04-06 01:09:29,808 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-06 01:09:29,831 INFO sqlalchemy.engine.Engine COMMIT

### CompanyReviews

In [17]:
# TODO: CompanyReviews, match CompanyIds
company_reviews_df = open_df_from_csv(
    "company_reviews.csv",
    usecols=[
        "name",
        "rating",
        "reviews",
        "description",
        "happiness",
        "ceo_approval",
        "ceo_count",
        "ratings",
        "locations",
        "roles",
        "salary",
        "interview_experience",
        "interview_difficulty",
        "interview_duration",
        "interview_count",
        "headquarters",
        "employees",
        "industry",
        "revenue",
        "website",
    ],
    index_cols=[],
    dtype={
        "name": str,
        "rating": float,
        "reviews": str,
        "description": str,
        "happiness": str,
        "ceo_approval": str,
        "ceo_count": str,
        "ratings": str,
        "locations": str,
        "roles": str,
        "salary": str,
        "interview_experience": str,
        "interview_difficulty": str,
        "interview_duration": str,
        "interview_count": str,
        "revenue": str,
        "website": str,
    },
)
print(len(company_reviews_df), company_reviews_df.columns)

# Inner join the two tables over company name.
company_reviews_df = company_reviews_df.merge(
    companies_df.reset_index(), on="name", how="inner", suffixes=(None, "_y")
)
company_reviews_df = company_reviews_df.drop_duplicates(
    subset=["name"],
    keep="first",
)
print(
    len(company_reviews_df),
    len(company_reviews_df["name"].unique()),
    company_reviews_df.columns,
)

company_reviews_df = company_reviews_df.drop(
    columns=[
        "name",
        "headquarters",
        "employees",
        "industry",
        "description_y",
        "companysize",
        "state",
        "country",
        "city",
        "zipcode",
        "address",
        "url",
    ]
)
print(len(company_reviews_df), len(company_reviews_df['companyid'].unique()))

company_reviews_df.index.names = ['reviewid']
print(company_reviews_df.index.names)

# company_reviews_df = company_reviews_df.set_index("companyid")


export_table(company_reviews_df, 'CompanyReviews', engine)

17050 Index(['name', 'rating', 'reviews', 'description', 'happiness', 'ceoapproval',
       'ceocount', 'ratings', 'locations', 'roles', 'salary',
       'interviewexperience', 'interviewdifficulty', 'interviewduration',
       'interviewcount', 'headquarters', 'employees', 'industry', 'revenue',
       'website'],
      dtype='object')
1372 1372 Index(['name', 'rating', 'reviews', 'description', 'happiness', 'ceoapproval',
       'ceocount', 'ratings', 'locations', 'roles', 'salary',
       'interviewexperience', 'interviewdifficulty', 'interviewduration',
       'interviewcount', 'headquarters', 'employees', 'industry', 'revenue',
       'website', 'companyid', 'description_y', 'companysize', 'state',
       'country', 'city', 'zipcode', 'address', 'url'],
      dtype='object')
1372 1372
['reviewid']
2024-04-06 01:09:30,019 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-06 01:09:30,020 INFO sqlalchemy.engine.Engine DESCRIBE `team_103`.`CompanyReviews`
2024-04-06 01:09:30,020 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-06 01:09:30,038 INFO sqlalchemy.engine.Engine INSERT INTO `CompanyReviews` (reviewid, rating, reviews, description, happiness, ceoapproval, ceocount, ratings, locations, roles, salary, interviewexperience, interviewdifficulty, interviewduration, interviewcount, revenue, website, companyid) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2024-04-06 01:09:30,038 INFO sqlalchemy.engine.Engine [generated in 0.00473s] [(0, None, None, "Grand Valley State University (commonly referred to as GVSU, GV, or Grand Valley) is a public liberal arts university located in Allendale, Michigan, ... (87 characters truncated) ...  on 1,322 acres (5.35 km2) approximately 12 miles (19 km) west of Grand Rapids. Classes are also offered at the university's growing Robert C. – less", "{'Work Happiness Score': '75', 'Achievement': '86', 'Appreciation': '86', 'Inclusion': '84', 'Learning': '84', 'Flexibility': '84', 'Purpose': '84', 'Support': '83', 'Trust': '82', 'Management': '82', 'Belonging': '82', 'Energy': '76', 'Compensation': '68'}", '96%', 'CEO Approval is based on 95 ratings', "{'Work/Life Balance': '4.2', 'Compensation/Benefits': '3.6', 'Job Security/Advancement': '3.6', 'Management': '4.1', 'Culture': '4.2'}", "{'Allendale, MI': '4.4', 'Grand Rapids, MI': '4.3', 'Traverse City, MI': '4.3'}", "{'Clerical Worker': '5.0', 'Laboratory Assistant': '5.0', 'Teaching Assistant': '5.0', 'Laboratory Technician': '4.8', 'Student Employee': '4.7'}", "{'Graduate Assistant': '$17,717 per year', 'Student Assistant': '$13.10 per hour', 'Laboratory Technician': '$12.10 per hour'}", 'Favorable', 'Medium', 'About a week', 'Based on 33 interviews', '$100M to $500M (USD)', 'Grand Valley State University website', '3641332'), (2, 3.5, '147 reviews', 'Cheyenne Regional Medical Center is a 222-bed hospital, located in Cheyenne, Wyoming. We provide exceptional patient care and are passionate about mo ... (805 characters truncated) ... he insurance arm of Cheyenne Regional, and Wyoming Health Solutions provides administrative and organizational support for regional providers. – less', "{'Work Happiness Score': '65', 'Learning': '78', 'Purpose': '77', 'Support': '73', 'Appreciation': '71', 'Compensation': '71', 'Achievement': '69', 'Energy': '69', 'Flexibility': '67', 'Belonging': '63', 'Inclusion': '61', 'Trust': '61', 'Management': '61'}", '64%', 'CEO Approval is based on 73 ratings', "{'Work/Life Balance': '3.4', 'Compensation/Benefits': '3.6', 'Job Security/Advancement': '3.1', 'Management': '2.9', 'Culture': '3.3'}", '{}', '{}', "{'Nursing Assistant': '$16.12 per hour', 'Patient Access Manager': '$26,634 per year', 'Registered Nurse': '$57,974 per year'}", 'Favorable', 'Medium', 'About a week', 'Based on 18 interviews', None, 'Cheyenne Regional Medical Center website', '990745'), (3, None, None, 'CSD’s people and programs deliver personalized, professional, evidence-based behavioral and developmental services to each participant, and peace of  ... (153 characters truncated) ... anization providing services to those with developmental delays, including autism, in the state of California, Oregon, Washington, and Hawaii. – less', "{'Work Happiness Score': '61', 'Purpose': '72', 'Learning': '70', 'Achievement': '66', 'Inclusion': '66', 'Flexibility': '65', 'Compensation': '63', 'Support': '63', 'Management': '59', 'Appreciation': '59', 'Energy': '59', 'Trust': '58', 'Belonging': '55'}", '57%', 'CEO Approval is based on 30 ratings', "{'Work/Life Balance': '3.3', 'Compensation/Benefits': '3.1', 'Job Security/Advancement': '3.1', 'Management': '3.0', 'Culture': '3.5'}", "{'Oakland, CA': '4.5', 'Alameda, CA': '3.8', 'Rohnert Park, CA': '3.7', 'San Bruno, CA': '2.9'}", "{'Behavioral Therapist': '3.8', 'ABA Therapist': '3.7', 'Behavioral Specialist': '3.5', 'Behavior Technician': '3.3', 'Program Supervisor': '2.3'}", "{'Behavioral Specialist': '$19.20 per hour', 'Coach': '$19.25 per hour', 'Program Supervisor': '$65,589 per year'}", 'Favorable', 'Easy', 'About two weeks', 'Based on 19 interviews', None, 'Twitter\nFacebook\n...more', '5034592'), (5, 3.6, '2.7K reviews', 'Regions Financial Corporation is the 10th largest U.S.-based bank, providing retail and commercial banking services, insurance and mortgage products, ... (900 characters truncated) ... uture" and appreciate the "great team environment." On the other hand, some say the culture is "conservative" and "not willing to take risks." – less', "{'Work Happiness Score': '56', 'Achievement': '67', 'Flexibility': '66', 'Learning': '65', 'Appreciation': '64', 'Compensation': '63', 'Purpose': '63', 'Support': '63', 'Inclusion': '60', 'Energy': '58', 'Management': '57', 'Trust': '55', 'Belonging': '54'}", '80%', 'CEO Approval is based on 1,085 ratings', "{'Work/Life Balance': '3.7', 'Compensation/Benefits': '3.6', 'Job Security/Advancement': '3.3', 'Management': '3.2', 'Culture': '3.4'}", "{'Grenada, MS': '5.0', 'West Monroe, LA': '4.8', 'Alpharetta, GA': '4.8', 'Brandon, MS': '4.7', 'Coral Gables, FL': '4.7'}", "{'Accounts Payable Clerk': '5.0', 'Accounting Clerk': '5.0', 'Vice President of Operations': '5.0', 'Process Technician': '4.8', 'Senior Team Leader': '4.8'}", "{'Teller': '$12.26 per hour', 'Financial Specialist': '$31,360 per year', 'Financial Consultant': '$42,559 per year'}", 'Favorable', 'Medium', 'About two weeks', 'Based on 360 interviews', '$5B to $10B (USD)', 'Facebook\nRegions Bank website', '4224'), (6, 4.2, '561 reviews', 'George Mason University (also Mason), located in Fairfax, Virginia, United States, is the largest public research university in the Commonwealth of V ... (193 characters truncated) ... ics, law, creative writing, computer science, and business. In recent years, George Mason faculty have twice won the Nobel Prize in Economics. – less', "{'Work Happiness Score': '78', 'Flexibility': '87', 'Purpose': '84', 'Achievement': '83', 'Appreciation': '83', 'Learning': '82', 'Support': '82', 'Energy': '81', 'Inclusion': '80', 'Trust': '79', 'Belonging': '78', 'Compensation': '77', 'Management': '76'}", '83%', 'CEO Approval is based on 181 ratings', "{'Work/Life Balance': '4.1', 'Compensation/Benefits': '3.4', 'Job Security/Advancement': '3.5', 'Management': '3.8', 'Culture': '4.0'}", "{'Arlington, VA': '4.5', 'Manassas, VA': '4.5', 'Mason, OH': '4.4', 'Baltimore, MD': '4.3', 'Fairfax, VA': '4.2'}", "{'Student Intern': '5.0', 'Laboratory Technician': '5.0', 'Senior Designer': '5.0', 'Student': '5.0', 'Intern': '4.9'}", "{'Graduate Assistant': '$17,897 per year', 'Graduate Researcher': '$21,894 per year', 'Assistant Professor': '$83,009 per year'}", 'Favorable', 'Medium', 'About a week', 'Based on 133 interviews', '$500M to $1B (USD)', 'George Mason University website', '5489'), (7, 3.1, '201 reviews', 'Newegg caters to tech-enthusiasts who build their own computers. The company, which prides itself on "fresh" offerings, is a leading online-only dist ... (360 characters truncated) ...  by vendors including Apple, ATi, Canon, Sony, Toshiba, and Viewsonic. Founded in 2001, Newegg has customers in the US, Canada, and now China. – less', '{}', '49%', 'CEO Approval is based on 81 ratings', "{'Work/Life Balance': '3.1', 'Compensation/Benefits': '2.9', 'Job Security/Advancement': '2.7', 'Management': '2.6', 'Culture': '2.9'}", "{'Rowland Heights, CA': '3.8', 'Indianapolis, IN': '3.5', 'Memphis, TN': '3.4', 'Pico Rivera, CA': '3.3', 'Whittier, CA': '3.0'}", "{'Order Picker': '3.8', 'Warehouse Worker': '3.6', 'Account Executive': '3.3', 'Packer': '3.2', 'Merchandise Manager': '3.0'}", "{'Customer Service Representative': '$13.45 per hour', 'Merchandise Manager': '$52,050 per year', 'Merchandiser': '$52,953 per year'}", 'Average', 'Easy', 'About a day or two', 'Based on 60 interviews', '$1B to $5B (USD)', 'Twitter\nFacebook\nNewegg website', '14541'), (8, 3.0, '63 reviews', "At Woodard & Curran, there’s nothing we love more than a tough engineering challenge. We handle a wide range of water and environmental issues—solvin ... (196 characters truncated) ... ness problems. By considering them from different perspectives, we often uncover new answers and overcome challenges where others have failed. – less", '{}', '67%', 'CEO Approval is based on 27 ratings', "{'Work/Life Balance': '3.2', 'Compensation/Benefits': '3.2', 'Job Security/Advancement': '2.7', 'Management': '2.8', 'Culture': '3.1'}", "{'Walnut Creek, CA': '3.7', 'White Plains, NY': '3.3', 'Inverness, FL': '3.3', 'Dedham, MA': '3.3', 'Portland, ME': '2.6'}", "{'Wastewater Operator': '3.0', 'Project Manager': '2.3', 'Project Engineer': '2.1', 'Administrative Assistant': '2.0', 'Engineer': '1.7'}", '{}', 'Favorable', 'Medium', 'About a day or two', 'Based on 7 interviews', '$100M to $500M (USD)', 'Twitter\nFacebook\n...more', '21542'), (9, 3.7, '154 reviews', "Harnessing agility and a broad base of expertise, Textron Systems’ innovative businesses design, manufacture, field and support comprehensive solutio ... (298 characters truncated) ... ce software solutions, precision weapons, piston engines, test and training systems, and total lifecycle sustainment and operational services. – less", "{'Work Happiness Score': '70', 'Flexibility': '78', 'Purpose': '75', 'Compensation': '73', 'Achievement': '73', 'Appreciation': '72', 'Learning': '72', 'Energy': '71', 'Support': '71', 'Inclusion': '71', 'Management': '67', 'Trust': '66', 'Belonging': '64'}", '73%', 'CEO Approval is based on 62 ratings', "{'Work/Life Balance': '3.7', 'Compensation/Benefits': '3.8', 'Job Security/Advancement': '3.2', 'Management': '3.2', 'Culture': '3.5'}", "{'Baltimore, MD': '4.8', 'Cockeysville, MD': '4.2', 'Slidell, LA': '3.8', 'New Orleans, LA': '3.7', 'Wilmington, MA': '3.6'}", "{'Flight Attendant': '4.0', 'Senior Mechanical Engineer': '4.0', 'Welder': '4.0', 'Fabricator/Welder': '3.7', 'Electrical Engineer': '3.7'}", '{}', 'Favorable', 'Medium', 'About a month', 'Based on 35 interviews', '$100M to $500M (USD)', 'Twitter\nFacebook\nTextron Systems website', '3339')  ... displaying 10 of 1372 total bound parameter sets ...  (1720, 3.6, '151 reviews', 'ASRC Federal Holding Company is the government services subsidiary of Arctic Slope Regional Corporation, an Alaska Native Corporation owned by approx ... (281 characters truncated) ... ices and unwavering commitment to helping customers overcome their challenges has served as the catalyst for growth and expansion of services. – less', '{}', '79%', 'CEO Approval is based on 77 ratings', "{'Work/Life Balance': '3.7', 'Compensation/Benefits': '3.7', 'Job Security/Advancement': '3.1', 'Management': '3.1', 'Culture': '3.3'}", "{'Colorado Springs, CO': '4.3', 'Reston, VA': '4.3', 'Washington, DC': '3.8', 'Greenbelt, MD': '3.7', 'Arlington, VA': '3.7'}", "{'Administrative Assistant': '4.7', 'GIS Technician': '3.7', 'Customer Service Representative': '3.5', 'Records Specialist': '3.0', 'Data Analyst': '2.8'}", '{}', 'Favorable', 'Medium', 'About a week', 'Based on 48 interviews', '$500M to $1B (USD)', 'Twitter\nFacebook\nASRC Federal website', '373159'), (1721, 3.4, '2.6K reviews', 'Based in McLean, VA, Sunrise Senior Living provides personalized care to about 28,000 residents in more than 320 communities in the United States, Ca ... (710 characters truncated) ... urturing the Spirit\n3. Celebrating Individuality\n4. Enabling Freedom of Choice\n5. Encouraging Independence\n6. Involving Family and Friends – less', '{}', '68%', 'CEO Approval is based on 1,051 ratings', "{'Work/Life Balance': '3.3', 'Compensation/Benefits': '3.2', 'Job Security/Advancement': '3.2', 'Management': '3.0', 'Culture': '3.3'}", "{'Santa Clarita, CA': '5.0', 'Holladay, UT': '4.8', 'Metairie, LA': '4.8', 'Pleasanton, CA': '4.7', 'Minneapolis, MN': '4.7'}", "{'Shift Leader': '5.0', 'Housekeeping Manager': '5.0', 'Room Manager': '4.8', 'Host/Hostess': '4.7', 'Volunteer': '4.5'}", "{'Care Manager': '$51,097 per year', 'Caregiver': '$28,085 per year', 'Nursing Assistant': '$31,474 per year'}", 'Favorable', 'Medium', 'About a day or two', 'Based on 536 interviews', '$1B to $5B (USD)', 'Twitter\nFacebook\n...more', '7291')]
2024-04-06 01:09:30,630 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `team_103`
2024-04-06 01:09:30,631 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-06 01:09:30,636 INFO sqlalchemy.engine.Engine COMMIT